.slider {
  position: relative;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 45px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
  transform: translate(0, -50%);

  &:hover {
    transform: translate(0, -50%) scale(1.3);
  }
  &:active {
    transform: translate(0, -50%) scale(1);
  }
}

.left-arrow {
  left: 32px;
}

.right-arrow {
  right: 32px;
}
